.container__task {
  width: 100%;
  height: auto;

  background-color: rgb(47 64 91);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: .5rem;
  margin-bottom: 1rem;

  border-radius: 0.5rem;
  border: 1px solid rgb(236, 236, 236);

  cursor: pointer;

  font-size: 1.2em;
}
/* ALTERNATING COLORS */
.container__task:nth-child(3n + 1) {
  background-color: rgba(47,64, 91, 1);
}
.container__task:nth-child(3n + 2) {
  background-color: rgba(47, 64, 91, 0.8);
}
.container__task:nth-child(3n + 3) {
  background-color: rgba(47, 64, 91, 0.6);
}

.task-text {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow-wrap: anywhere;

  font-size: inherit;
  /* padding: 1rem; */
  /* border-radius: 0.5rem; */
  /* background-color: var(--color-key-secondary); */
  /* margin-bottom: 1rem; */
}

.task-icon {
  /* width: 1.5rem; */
  /* height: 1.5rem; */
  /* margin: 0.3rem; */
  padding: 1rem;
  display: flex;
  font-size: inherit;
  position: relative;
}

/* COMPLETED TASK */
.completed {
  background-color: rgb(94, 11, 204);
  text-decoration: line-through;
  opacity: 0.4;
}

.tooltip{
  position: absolute;
  bottom: 80%; /* Position above the element */
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 1em;
  white-space: nowrap;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out;
}

/* SHOWS THE TOOLTIP WHEN THE USER HOVERS OVER THE DELETE ICON */
.task-icon:hover .tooltip {
  opacity: 1;
  visibility: visible;
}
