/* *********************************** */
/* *** GENERALAL STYLES *** */
/* *********************************** */

/* Typography */
@font-face {
  font-family: "Lato-bold";
  src: url("./font/lato-bold-webfont.woff2") format("woff2"),
    url("./font/lato-bold-webfont.woff") format("woff");
}

:root {
  /* ******************************** */
  /* COLORS */
  /* ******************************** */
  --color-bg-dark: rgb(44, 75, 73);
  --color-bg-dark-gradient: rgb(42, 122, 126);
  --color-bg-light: rgb(46, 104, 119);
  --color-bg-light-gradient: rgb(48, 148, 155);
  
  --color-font-dark: rgb(201 201 201);
  --color-font-light: rgb(223, 223, 223);
  --color-font-white: rgb(247, 247, 247);

  --color-border-light: rgb(224, 224, 224);

  --shadow-color-black: rgb(0, 0, 0);

  /* ******************************** */
  /* COLOR SCHEME AND BACKGROUND */
  /* ******************************** */
  color-scheme: system light dark;
  background: radial-gradient(
    circle,
    var(--color-bg-dark-gradient) 10%,
    var(--color-bg-dark) 100%
  );

  /* ******************************** */
  /* TYPOGRAPHY */
  /* ******************************** */
  font-family: Lato-bold, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-font-dark);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--color-font-light);
    /* background-color: var(--background-color-light); */
    background: radial-gradient(
      circle,
      var(--color-bg-light-gradient) 10%,
      var(--color-bg-light) 100%
    );
  }
  /* a:hover {
    color: #747bff;
  } */
  /* button {
    background-color: var(--background-color-light);
  } */
}
